streamlit
pandas
numpy
matplotlib
pandas
datetime
statsmodels
argon2-cffi
argon2-cffi-bindings
importlib-metadata
intel-openmp
nest-asyncio
pandas-datareader
pandas-profiling
prompt-toolkit
python-dateutil
pytz-deprecation-shim
scikit-learn
tangled-up-in-unicode
typing-extensions
streamlit-option-menu
